.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 66px 0;
    gap: 20px;
    &_logo {
        display: flex;
        gap: 10px;
        align-items: center;
        &-title {
            font-weight: bold;
            font-size: 18px;
        }
    }

    &_nav {
        display: flex;
        gap: 20px;
        &-item {
            font-size: 18px;
            & a {
                color: #000;
                &:hover {
                    font-weight: bold;
                    text-underline-offset: 8px;
                    text-decoration-color: rgba(0, 0, 0, 0.16);
                }
            }
        }
    }

    &_cart {
        display: flex;
        gap: 10px;
        align-items: center;
        &-box {
            position: relative;
            width: 45px;
            height: 45px;
            background: #fff;
            border-radius: 50%;
            &-img {
                top: 11px;
                right: 10px;
                position: absolute;
            }
        }
        &-title {
            font-size: 18px;
        }
    }
}
