.things {
    padding: 60px 160px;
    background: rgb(156, 255, 249);
    background: linear-gradient(
        148deg,
        rgba(156, 255, 249, 1) 60%,
        rgba(255, 255, 255, 1) 100%
    );
    &_title {
        font-size: 30px;
        margin-bottom: 40px;
    }

    &_tabs {
        position: relative;
        display: flex;
        justify-content: space-between;
        gap: 50px;
        margin-bottom: 35px;
        &-tab {
            font-size: 30px;
            text-align: center;
            padding: 13px 15px;
            width: 100%;
            border: 1px solid black;
            border-radius: 30px;
            transition: background 0.4s;
            cursor: pointer;

            &:hover {
                background: #ffcbde;
                transition: background 0.4s;
            }
        }
        & img {
            position: absolute;
            right: -100px;
            top: 7px;
            border-radius: 50px;
            padding: 15px;
            background: #fff;
            cursor: pointer;
            border: 2px solid transparent;
            &:hover {
                border: 2px solid black;
            }
        }
    }

    &_goods {
        position: relative;
        display: flex;
        gap: 30px;

        &-item {
            position: relative;
            padding: 60px 40px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background: white;
            border-radius: 15px;
            max-width: 370px;
            max-height: 550px;
            box-shadow: 0px 0px 35px -20px black;
            cursor: pointer;
            &-tags {
                position: absolute;
                top: 15px;
                left: 20px;
                display: flex;
                gap: 10px;
                flex-wrap: wrap;
                &-tag {
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    &-round {
                        width: 40px;
                        height: 40px;
                        border: 1px solid black;
                        border-radius: 100%;
                        padding-top: 8px;
                        text-align: center;
                    }
                    &-text {
                        font-size: 20px;
                    }
                    &-pink {
                        width: 40px;
                        height: 40px;
                        background: #ef3f87;
                        border-radius: 100%;
                    }
                    &-orange {
                        width: 40px;
                        height: 40px;
                        background: #ffb802;
                        border-radius: 100%;
                    }
                    &-blue {
                        width: 40px;
                        height: 40px;
                        background: #9cfff9;
                        border-radius: 100%;
                    }
                    &-green {
                        width: 40px;
                        height: 40px;
                        background: #6f8b49;
                        border-radius: 100%;
                    }
                }
            }
            &-img {
                max-height: 250px;
                object-fit: contain;
            }
            &-title {
                font-size: 20px;
                font-weight: bold;
            }
            &-descr {
                margin-top: 5px;
                font-size: 20px;
            }
            &-price {
                margin-top: 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                &-title {
                    font-size: 30px;
                    font-weight: bold;
                    color: #09c505;
                }
            }
        }
    }
}
.slick-initialized .slick-slide {
    display: flex;
}

.things_goods-item {
    width: 370px;
    height: 540px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 20px;
}

.slick-dots li button:before {
    margin-top: 20px;
    font-size: 20px;
    color: #cebdff;
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    color: #642eff;
}

.slick-prev,
.slick-next {
    &::before {
        content: "";
    }
}

.slider-container {
    position: relative;
}

.slick-prev {
    position: absolute;
    left: -70px;
    top: 50%;
    z-index: 1;

    & img {
        border-radius: 50px;
        padding: 10px;
        background: #fff;
        border: 2px solid transparent;
        &:hover {
            border: 2px solid black;
        }
    }
}
.slick-next {
    position: absolute;
    right: -50px;
    top: 50%;
    z-index: 1;

    & img {
        border-radius: 50px;
        padding: 10px;
        background: #fff;
        border: 2px solid transparent;
        &:hover {
            border: 2px solid black;
        }
    }
}
