.charity {
    display: flex;
    flex-direction: column;
    gap: 90px;
    background: rgb(156, 255, 249);
    background: linear-gradient(
        148deg,
        rgba(156, 255, 249, 1) 60%,
        rgba(255, 255, 255, 1) 100%
    );
    padding: 100px 160px;
    &_title {
        font-size: 40px;
        font-weight: bold;
    }

    &_info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        &-item {
            &-title {
                font-size: 80px;
            }
            &-subtitle {
                font-size: 30px;
            }
        }
    }

    &_button {
        max-width: 330px;
        text-align: center;
        padding: 13px 30px;
        border-radius: 30px;
        font-size: 30px;
        background: #fcc230;
        transition: background 0.4s;
        border: 2px solid transparent;
        &:hover {
            border: 2px solid #fcc230;
            color: #fcc230;
            background: #fff;
            transition: background 0.4s;
        }
    }
}
