.footer {
    background-image: url("../../assets/img/footer_bg.jpg");
    background-position: 600px 0;
    background-size: cover;
    padding: 80px 160px 0px 160px;
    &_title {
        font-size: 40px;
        margin-bottom: 87px;
    }

    &_form {
        max-width: 900px;
        display: flex;
        flex-wrap: wrap;
        gap: 100px;
        &-input {
            width: 400px;
            height: 80px;
            border: none;
            background: transparent;
            border-bottom: 2px solid black;
            outline: none;
            font-size: 30px;
            padding-bottom: 30px;
            font-weight: bold;

            &::placeholder {
                color: #000;
            }
        }
        &-textarea {
            width: 100%;
            border: none;
            background: transparent;
            border-bottom: 2px solid black;
            outline: none;
            font-size: 30px;
            padding-bottom: 10px;
            font-weight: bold;
            &::placeholder {
                color: #000;
            }
        }

        &-checks {
            display: flex;
            flex-direction: column;
            gap: 20px;
            &-item {
                display: flex;
                gap: 20px;
                align-items: center;
                &-checkbox {
                    width: 40px;
                    height: 40px;
                }
                &-text {
                    font-size: 30px;
                }
            }
        }
        &-button {
            font-size: 20px;
            background: #000000;
            padding: 18px 30px;
            color: #fff;
            border-radius: 50px;
            max-width: 250px;
            font-weight: bold;
            border: 2px solid transparent;
            transition: background 0.4s;

            &:hover {
                border: 2px solid #000000;
                color: #000000;
                background: #ffffff;
                transition: background 0.4s;
            }
        }
    }

    &_bottom {
        padding: 40px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-logo {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 13px;
            &-text {
                font-size: 18px;
                font-weight: bold;
            }
        }

        &-privacy {
            font-size: 18px;
        }

        &-contact {
            display: flex;
            align-items: center;
            font-size: 18px;
            gap: 5px;
            color: #000;
            & a {
                color: #000;
                &:hover {
                    font-weight: bold;
                    text-underline-offset: 8px;
                    text-decoration-color: rgba(0, 0, 0, 0.16);
                }
            }
        }
    }
}

.footer_form-checks-item-checkbox {
    display: none;
}

.footer_form-checks-item-checkbox + .footer_form-checks-item-text {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}

.footer_form-checks-item-checkbox + .footer_form-checks-item-text::before {
    content: "";
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid rgb(0, 0, 0);
    background-color: orange;
    border-radius: 4px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    box-sizing: border-box;
}

.footer_form-checks-item-checkbox:checked
    + .footer_form-checks-item-text::before {
    background-color: white;
    border-color: orange;
}

.footer_form-checks-item-checkbox:checked
    + .footer_form-checks-item-text::after {
    content: "";
    position: absolute;
    left: 13px;
    top: 5px;
    width: 14px;
    height: 24px;
    border: solid orange;
    border-width: 0 4px 4px 0;
    transform: rotate(45deg);
    box-sizing: border-box;
}
