.main {
    padding: 110px 0px 340px 0px;
    max-width: 520px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    &_title {
        font-weight: bold;
        font-size: 40px;
    }
    &_subtitle {
        font-size: 25px;
    }
    &_button {
        font-size: 20px;
        background: #3400c8;
        padding: 18px 16px;
        color: #fff;
        border-radius: 50px;
        max-width: 250px;
        font-weight: bold;
        border: 2px solid transparent;
        transition: background 0.4s;

        &:hover {
            border: 2px solid #3400c8;
            color: #3400c8;
            background: #fff;
            transition: background 0.4s;
        }
    }
}

.dog {
    position: absolute;
    right: 80px;
    bottom: 0;
}

.round {
    position: absolute;
    right: 30px;
    bottom: 0;
}
